.danh-muc-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.danh-muc-title {
  font-size: 28px;
  color: #e67e22; /* Màu cam tương tự như ví dụ */
  margin-bottom: 10px;
}

.danh-muc-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.danh-muc-grid{
  display: flex;
}